<a class="card" href="@Link">
    @if (ImageSource != null)
    {
        <img src="@ImageSource" alt="@ImageAlt" />
    }
    @if (Name != null)
    {
        <h1>@Name</h1>
    }
</a>

@code {
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? ImageSource { get; set; }
    [Parameter]
    public string? ImageAlt { get; set; }
    [Parameter]
    public string? Link { get; set; }
}
