@inherits LayoutComponentBase

<div style="position:absolute;
            background-image: linear-gradient(180deg, #0b682f 0%, #2e8b71 100%);
            width:100%;
            height:100%">

</div>

<div class="page @(isNavigating ? "layout-slide-out" : "layout-slide-in")">
    <main>
        <article class="content px-4">
            HOME
            @Body
            @isNavigating
        </article>
    </main>
</div>

@code {
    bool isNavigating = false;

    protected override async Task OnParametersSetAsync()
    {
        isNavigating = true;
        await Task.Delay(500);
        isNavigating = false;
    }
}