@inherits LayoutComponentBase
@inject LayoutSwitchManager LayoutSwitchManager

<div style="position:absolute;
            background-image: linear-gradient(180deg, #0b682f 0%, #2e8b71 100%);
            width:100%;
            height:100%;
            z-index:-100">

</div
<button onclick="@Go">Go!!</button>

<div style="overflow: hidden;">
    <div class="page @(LayoutSwitchManager.CurrentLayoutState switch{
        LayoutTransitionState.In => "layout-slide-in-left",
        LayoutTransitionState.Out => "layout-slide-out-right",
        _ => ""
    })">
        <main>
            <article class="content px-4">
                HOME
                @Body
                @transitionState
            </article>
        </main>
    </div>
</div>

@code {
    LayoutTransitionState transitionState = LayoutTransitionState.Static;


    private void Go()
    {
       LayoutSwitchManager.GoToPage("/");
    }

}