@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
@inject LayoutSwitchManager LayoutSwitchManager

<div class="page @(LayoutSwitchManager.CurrentLayoutState switch{
    LayoutTransitionState.Out => "layout-slide-out-left",
    LayoutTransitionState.In => "layout-slide-in-right",
    _ => ""
})">
    <div class="sidebar">
        <NavMenu BackAction="@GoToHome" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void GoToHome()
    {
        LayoutSwitchManager.GoToPage("/full-screen-test");
    }
}