@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
<div class="page">
    <Home isVisible=@isOnHome />

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private bool isOnHome => MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri) == "/home_";
}