@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
@inject LayoutSwitchManager LayoutSwitchManager

    
<div class="page @(LayoutSwitchManager.CurrentLayoutState switch{
    LayoutTransitionState.Out => "layout-slide-out-left",
    LayoutTransitionState.In => "layout-slide-in-right",
    _ => "layout-static"
})">

    <div style="position:absolute;
        background-image: linear-gradient(180deg, #0b682f 0%, #2e8b71 100%);
        left:-100%;
        width:100vw;
        height:100vh;
        z-index:-100;">
    </div>

    <div class="sidebar">
        <NavMenu BackAction="@GoToHome" />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>


@code{
    private void GoToHome()
    {
        LayoutSwitchManager.GoToPage("/full-screen-test");
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        LayoutSwitchManager.TransitionStateChanged += (s, e) => this.StateHasChanged();
    }

}