@page "/"
@page "/about-me"

<PageTitle>A propos de moi</PageTitle>

<h1 class="justified-content">A propos de moi</h1>

<article class="justified-content">
    <p>
        Passionné de jeux vidéo depuis le collège, je me suis vite renseigné sur comment je pouvais en faire moi-même.
        C'est ça qui m'a amené vers l'informatique, et après quelques années en autodidacte je savais faire des programmes simples en C#.<br />

        Au lycée j'ai pu continuer dans cette voie en prenant la spécialité NSI (Numérique et Science de l'Informatique).
        J'y ai appris le Pyhton, le SQL et l'HTML, mais j'ai surtout pu enfin me rendre compte que c'était ma passion.<br />

        Après avoir obtenu mon bac général avec mention bien, je me suis orienté avec très peu d'hésitation vers un BUT informatique
        pour continuer ensuite sur une école d'ingénieur.
    </p>
    <p>
        Je suis particulièrement à l'aise en :
        <ul>
            <li>C#</li>
            <li>Java</li>
            <li>Python</li>
            <li>C++</li>
            <li>Html/Css</li>
        </ul>
    </p>
    <p>
        Mais je sais aussi programmer en :
        <ul>
            <li>C</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>SQL</li>
            <li>Bash</li>
        </ul>
    </p>
    <p>
        Mes connaissances s'étendent aussi sur la conception d'architectures orienté objet (UML),
        d'interface ou de page web et l'analyse de besoins clients.
    </p>
    <p>
        Je sais parfaitement comprendre et m'exprimer à l'écrit et à l'oral en français et en anglais.
    </p>
    <p>
        J'aime tout type de musique, le jeux-vidéo et l'escalade.<br />
        Je m'intéresse aussi beaucoup à la science, notamment au domaine du spatial.
    </p>
    <p>
        En informatique j'aime principalement concevoir et réaliser des logiciels puissants et flexibles pour résoudre des problèmes complexes.
    </p>

</article>

<hr />

<section class="key2 card-container">
    <Card Name="Mes Projets" ImageSource="./Images/programation.jpg" ImageAlt="programmation" Link="/projets" />
    <Card Name="Mes expériences" ImageSource="./Images/travail.webp" ImageAlt="expériences" Link="/experiences" />
</section>


@code {

}
