@page "/contact"

<PageTitle>Me contacter</PageTitle>

<h1 class="justified-content">Me contacter</h1>

<article class="justified-content">
    <p>
        Vous pouvez me contacter :
    </p>
    <ul>
        <li>
            Sur mon email universitaire : <em>paul.maget@etu.univ-grenoble-alpes.fr</em>
        </li>
        <!--<li>
            Sur mon email personnel : <em>paul.pj.maget@gmail.com</em>
        </li>-->
        <li>
            Par téléphone : <em>+33 7 69 61 27 00</em>
        </li>
    </ul>
    <p>
        Je suis aussi sur <a href="https://github.com/PaulMaget">GitHub</a> et sur <a href="https://www.linkedin.com/in/paul-maget-4495832b0/">LinkedIn</a>.
    </p>

</article>

@code {

}
