@page "/experiences"

<PageTitle>Mes expériences</PageTitle>

<h1 class="justified-content">Mes expériences</h1>

<ExperienceArticle Name="Création de jeux vidéo" Organisation="Autodidacte" Date="2018-…">
    <p>
        Au collège je me suis rendu compte que j'étais passionné de jeu vidéo et particulièrement de leur développement.
        J'ai donc commencé à apprendre le logiciel Unity avec le langage de programmation C# pour créer mes propres jeux.
        Pour l'instant mes projets n'ont pas vocations à être publié, ils me servent seulement en guise d'entrainement pour un jour,
        je l'espère, pouvoir travailler sur quelque chose de plus sérieux.
    </p>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Programmation C#</li>
            <li>Développement avec Unity Engine</li>
            <li>Principe de Game Design</li>
            <li>Organisation d'une production</li>
            <li>Programmation shader (visual scripting/shader toy)</li>
        </ul>
        <h5>Compétences générales</h5>
        <ul>
            <li>Logique</li>
            <li>Créativité</li>
            <li>Organisation</li>
            <li>Flexibilité</li>
            <li>Autonomie</li>
            <li>Persévérance</li>
        </ul>
    </div>

    <h5>Positif</h5>
    <div>
        J'adore designer des jeux, créer une expérience fun et immersive pour le joueur.
        J'aime aussi tous les challenges qui vont avec tant d'un point de vue technique qu'artistique.
    </div>

    <h5>Négatif</h5>
    <div>
        Faire un jeu est long, compliqué,
        et je suis parfois un peu démotivé de voir que vouloir faire sa carrière dans le développement de jeux vidéo en 2023 n'est pas très original.
        Je trouve aussi que les discussions sur ce sujet sur internet sont parfois très tendus pour pas grand chose, ce qui est fatiguant.
    </div>
</ExperienceArticle>

<!------------------>

<ExperienceArticle Name="Image de synthèse" Organisation="Autodidacte" Date="2018-…">
    <p>
        En commençant à m'intéresser eu développement de jeux-vidéo je me suis très vite rendu compte qu'apprendre l'image de synthèse allait être important.
        J'ai donc appris les bases du logiciel Blender pour comprendre la modélisation, l'animation et le fonctionnement général de ce milieu.
        J'aime beaucoup Blender au point que j'ai considéré à un moment faire ma carrière dans l'image de synthèse.
        Finalement je suis resté sur la programmation, mais je continue à m'y intéresser.
    </p>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Modélisation 3D</li>
            <li>Utilisation de matériaux</li>
            <li>Génération procédurale de matériaux</li>
            <li>Principe de photoréalisme</li>
            <li>Logique de cohérence artistique</li>
            <li>Animation 3D</li>
            <li>Rigging</li>
            <li>Eclairage</li>
        </ul>
        <h5>Compétences générales</h5>
        <ul>
            <li>Créativité</li>
            <li>Patience</li>
            <li>Organisation</li>
            <li>Esprit artistique</li>
        </ul>
    </div>

    <h5>Positif</h5>
    <div>
        Je trouve le fonctionnement de la génération d'image de synthèse aussi complexe que passionnant.
        Je trouve aussi que ce domaine est parfaitement au milieu entre l'informatique et l'art ce qui me plait beaucoup.
    </div>

    <h5>Négatif</h5>
    <div>
        J'ai malheureusement ni la patience ni l'ambition de faire un vrai projet avec Blender ce qui bloque un peu mon apprentissage.
        Il me manque beaucoup de base dans tout ce qui est artistique pour pouvoir faire des choses dont je suis fière.
        De plus bien que Blender soit très complet et soit utilisé professionnellement,
        je le trouve souvent très frustrant et je me retrouve bloqué par des fonctionnalités qui n'existent pas ou qui sont trop buggé pour être utilisable.
    </div>
</ExperienceArticle>

<!------------------>

<ExperienceArticle Name="Stage assurance qualité et bornes" Organisation="Alpilink" Date="2024">
    <p>
        Dans le cardre de ma 2ème année de BUT Informatique, j'ai fait une stage de 10 semaines dans l'entreprise Alpilink.
        Alpilink est une entreprise spécialié en monétique, cloud et en e-commerce.
        Ils travaillent avec plus de 50 stations de ski pour leur fournir une solution de vente de forfait de ski,
        en ligne ou sur des bornes pour lesquels Alpilink fait la partie logiciel.<br />
        Le stage était divisé en 2 parties. Un partie assurance qualité et une partie bornes.
    </p>
    <p>
        La partie assurance qualité consistait à développer des tests automatisés pour la partie frontend et la partie backend
        de l'application de vente de forfait en ligne.<br />
        Pour la partie frontend, j'ai développé des tests fonctionnels en utilisant le framework Cypress.<br />
        Pour la partie backend, j'ai développé des tests unitaire en utilisant le framework xUnit.
    </p>
    <p>
        La partie bornes consistait à créer une nouvelle architecture pour remplacer l'actuel qui avait été développé il y a 7 ans par un prestataire.
        J'ai travaillé sur la partie de communication avec les périphériques comme l'imprimante de ticket et le dépileur de carte.
        L'objectif était d'avoir une architecture plus flexible et maintenable pour pouvoir ajouter de nouveaux modèles de périphériques plus facilement.
        L'application était développé en C#.<br />
        Pendant le développement, j'ai eu un problème avec le dépileur qui n'avait pas le fonctionnement attendu.
        Des membres de l'équipe m'ont donc expliquer comment prendre contact avec le fournisseur pour comprendre le problème et trouver une solution.
    </p>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Développement de tests fonctionnels avec Cypress</li>
            <li>Développement web en C#</li>
            <li>Développement de tests unitaires en utilisant des mocks</li>
            <li>Communication avec des périphériques en C#</li>
            <li>Conception d'une architecture complexe</li>
            <li>Amélioration d'une architecture pour la rendre plus flexible et maintenable</li>
        </ul>
        <h5>Compétences générales</h5>
        <ul>
            <li>Mise en pratique des méthodes agiles</li>
            <li>Expliquer son travail à une équipe</li>
            <li>Prise de contact avec un fournisseur</li>
        </ul>
    </div>

    <h5>Positif</h5>
    <div>
        J'ai appris énormément de chose pendant mon stage
        mais je me souviendrai surtout de l'esprit d'équipe de toute l'entreprise qui était très agréable.
    </div>

    <h5>Négatif</h5>
    <div>
        Le plus grand problème pour moi a été d'équilibrer mon temps de travail pour l'entreprise et celui dédié à mon rapport de stage ainsi qu'à ma soutenance.
    </div>

</ExperienceArticle>

<!------------------>

<ExperienceArticle Name="Animateur bénévole" Organisation="MJC Manosque" Date="2022">
    <p>
        J'ai monté à deux reprises un stage de création de jeux-vidéo à la MJC de Manosque qui ont duré chacun 1 semaine.
        Le but était d'introduire des novices à la création de jeu 2D et 3D avec comme support le logiciel Unity.
        Il y avait 4 à 8 stagiaires qui avait entre 12 et 25 ans.
    </p>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Préparer un projet</li>
            <li>Prendre en charge de jeunes dans le but de monter ce projet</li>
            <li>Expliquer des concepts complexe à des novices</li>
        </ul>
        <h5>Compétences générales</h5>
        <ul>
            <li>Organisation</li>
            <li>Pédagogie</li>
            <li>Gestion d'équipe</li>
            <li>Prise d'initiative</li>
        </ul>
    </div>

    <h5>Positif</h5>
    <div>
        J'ai beaucoup aimé partager ma passion avec d'autres, prendre des initiatives et monté des projets dont je suis fière du résultat.
    </div>

    <h5>Négatif</h5>
    <div>
        Malheureusement le temps d'une semaine étant très court je n'ai pas pu expliquer certains concepts et par conséquent
        je devais parfois dire au stagiaire quoi faire, voir le faire moi-même, sans pouvoir leur expliquer pourquoi le faire comme ça.
        En plus de ça j'avais parfois à m'assurer que tout le monde restait concentré tout en gardant une bonne ambiance, ce qui était souvent compliqué,
        surtout avec les plus jeunes.
    </div>
</ExperienceArticle>

@code {

}
