@page "/projects"

<PageTitle>Mes projets</PageTitle>

<h1 class="justified-content">Mes projets</h1>

<!--Semestre 1-->

<!--Semestre 2-->
<div class="key3">
    <h2 class="justified-content">Installation de services réseaux</h2>
    <h3>BUT1</h3>
    <h4 class="justified-content">2023</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Le but final de ce projet était de rédiger en anglais un guide d'installation d'un serveur Debian 11 équipé d'Apache, de PostgreSQL et PHP.
        </p>
        <p>
            Le projet était individuel.<br />
            En premier, nous devions réaliser les manipulation nous-même.
            Puis, dans un second temps, nous devions rédiger le guide d'installation.
        </p>
        <p>
            Nous avions à notre disposition un guide étape par étape,
            mais nous devions aussi aller chercher nous-même des informations dans la documentation officielle.
        </p>
        <p>
            Nous avons commencé par installer Debian 11 sur une machine virtuelle.
            Nous devions aussi analyser les paramètres du lancement de la machine virtuelle pour les expliquer dans le guide final.<br />

            Arpès ça, nous avons installer le serveur Apache en suivant les informations sur la page de documentation.
            Pour vérifier que tout fonctionnait, nous avons appris à utiliser Telnet qui permet de faire des requêtes HTML simple, sans interface graphique.<br />

            Nous avons aussi installé PostgreSQL qui sert à faire de la gestion de base de données
            et PHP pour utiliser PHPAdmin pour travailler sur cette base de données dans notre navigateur, sur la machine hôte.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Installation de Apache sur Debian.</li>
            <li>Paramètrage Apache.</li>
            <li>Utilisation de Telnet.</li>
            <li>Installation de PostgreSQL.</li>
            <li>Utilisation d'une base de donnée à distance.</li>
            <li>Installation de PHP et PHPAdmin.</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Recherche d'information dans une documentation technique.</li>
            <li>Rédaction d'un guide informatique en anglais.</li>
        </ul>
    </div>
</article>

<div class="key3">
    <h2 class="justified-content">Exploitation d'une base de données</h2>
    <h3>BUT1</h3>
    <h4 class="justified-content">2023</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Pour ce projet, nous devions faire une analyse sur les accidents de la route de 2006 à 2021 dans une région française pour une tranche d'âge.<br />
            Nous avons eu la région Haut de France et la tranche d'âge des plus de 65 ans.
        </p>
        <p>
            Le projet était en binôme et s'est déroulé sur 4 semaines.
        </p>
        <p>
            Nous nous sommes basés sur une base de données mise à disposition par l'observatoire national interministériel de la sécurité routière.
        </p>
        <p>
            La première étape était de nettoyer la base pour qu'il nous soit plus facile de travailler avec.
            Principalement, nous devions réunir 2 tables correspondant à des périodes différentes : 2006-2018 et 2019-2021.
            Après, nous devions en extraire les données qui nous intéressaient pour notre sujet d'étude.
            C'est-à-dire, garder uniquement les accidents ayant eu lieu dans la région Haut de France et impliquant des personnes de plus de 65 ans.<br />

            Une fois toutes ces données réunies, nous devions faire un document expliquant notre sujet et présentant nos données
            avec des graphiques et des tableaux réalisés avec le langage R.<br />
            Cette analyse devait ensuite être faite en anglais.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Nettoyage d'une base donnée et SQL.</li>
            <li>Création de graphique en R pour représenter des données.</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Travail en binôme.</li>
            <li>Explication d'un sujet de recherche et de graphiques en français et en anglais.</li>
        </ul>
    </div>
</article>

<div class="key3">
    <h2 class="justified-content">Développement d'un logiciel d'organisation de mariage</h2>
    <h3>BUT1</h3>
    <h4 class="justified-content">2023</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Ce projet était de loin le plus gros de ma première année de BUT.<br />
            L'objectif était de concevoir, réaliser puis présenter un logiciel d'organisation d'évenements.<br />
            Dans mon groupe, nous avons décidé de nous spécialiser à l'organisation de fêtes de mariages dans un logiciel adapté aux professionels.
        </p>
        <p>
            Nous étions par groupe de 5, le projet s'est déroulé sur 10 semaines dont 1 semaine bloquée pour la réalisation.
        </p>
        <p>
            Nous avons fait beaucoup de choses en parallèles sur ce projet.
            Au départ nous avions une analyse de graphes de gestion de projet
            et nous avions à trouver une fonction en rapport à notre sujet à optimiser mathématiquement.<br />

            Mais très vite nous avons commencé la conception en elle-même qui a été une des étapes les plus compliquées.
            Nous avons fait plusieurs diagrammes de classes en UML ainsi que des diagrammes d'objets et des diagrammes de séquences.
            Nous en avons aussi fait pour modéliser des logigrammes détaillant l'utilisation du logiciel.
            La dernière étape de la conception était de faire une maquette du site, trouver les points les plus importants pour l'ergonomie du logiciel
            et trouver des personas représentant des utilisateurs-type.<br />

            Après ça nous avons réalisé le logiciel en Java en utilisant la bibliothèque JavaFX pour créer les interfaces.
            Nous avons utilisé le modèle MVC (Modèle Vue Controller) pour faire le lien entre l'interface et le coeur du logiciel.<br />

            A la fin nous avons fait une présentation de notre produit pour en faire la promotion en français et en anglais.
            Et nous avons fini par une démonstration de notre projet.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Création de diagrammes de classes/objet/séquence en UML.</li>
            <li>Création de logigrammes.</li>
            <li>Optimisation de fonctions mathématiques.</li>
            <li>Conception d'une interface.</li>
            <li>Développement d'interface logiciel en JavaFX.</li>
            <li>Développement de logiciel Java en utilisant un modèle MVC.</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Organisation et travail en équipe.</li>
            <li>Prise de décision en équipe.</li>
            <li>Analyse d'un besoin utilisateur.</li>
            <li>Présentation promotionnelle d'un produit.</li>
        </ul>
    </div>
</article>

<!--Semestre 3-->
<div class="key3">
    <h2 class="justified-content">GameJam</h2>
    <h3>BUT2</h3>
    <h4 class="justified-content">2023</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Le but du projet était d'apprendre Python en créant un jeu vidéo sur un thème imposé à l'aide de la bibliothèque PyGame.
        </p>
        <p>
            Le projet était en équipe de 4.<br />
            Nous avions une semaine bloqué pour apprendre à utiliser PyGame et développer notre jeu.<br />
            Le dernier jour, nous devions présenter notre jeu devant un jury.
        </p>
        <p>
            Les deux premiers jours, nous commencions par un cours magistral nous expliquant PyGame,
            mais nous avons surtout appris grace à la documentation officielle.
        </p>
        <p>
            Le thème était "Le monde merveilleux de l’IUT2", nous devions aussi des mechaniques nécessitant de "Garder le rythme"
            et notre jeu devait être "Paramètrable avec des arguments".<br />

            Nous avons décider de faire un jeu qui soit fun avant tout, ce pourquoi nous nous sommes surout concentré sur l'aspect "Garder le rythme".
            Notre jeu mettait le joueur dans la peau d'un étudiant en BUT informatique qui doit garder le rythme entre ces TPs,
            son sommeil et sa vie sociale.<br />

            Le jeu était découpé en 3 mini-jeux. Un ordinateur pour les TPs, un lit pour le sommeil et un groupe d'amis souriants pour la vie sociale.
            Le joueur pouvait passer rapidement d'un mini-jeu à l'autre en se déplacant dans l'écran.<br />

            Le nous avons utilisé un style pixel art pour les graphismes, rendant les animations plus simple.
            Pour les animations, nous avons créé notre propre classe pour gérer des sprite sheets.
            Nous avons aussi passer beaucoup de temps à rafiner le système de collision pour éviter que le joueur reste coincé.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Python</li>
            <li>Bibliothèque PyGame</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Conception de jeu</li>
            <li>Travail d’équipe</li>
            <li>Gestion des délais</li>
        </ul>
    </div>
</article>

<div class="key3">
    <h2 class="justified-content">Organizing history</h2>
    <h3>BUT2</h3>
    <h4 class="justified-content">2023-2024</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            L'ambition de ce projet était de créer un site ludo-éducatif, destiné à apprendre l'histoire à des élèves de 3ème.<br />
        </p>
        <p>
            Le projet était en équipe de 8, pour une durée de 3 mois.<br />
            Les premiers mois était surtout de la conception.<br />
            A la fin du projets nous avions 3 semaines bloqués pour réaliser le site.
        </p>
        <p>
            Nous avons choisi d'utiliser le framework Symfony pour la partie backend et du JavaScript pour le frontend.<br />
            l'application devait avoir un système de compte pour les professeurs et les élèves.
            Le site devait être sécurisé et correspondre aux normes imposé par le RGPD.
        </p>
        <p>
            Dans mon équipe, j'ai proposé le concept du jeu, j'ai supervisé l'aspect technique
            et j'ai aider à répartir les tâches pendant la réalisation.
        </p>
        <p>
            Notre projet a remporté le 3ème prix du meilleur prototype parmis tous les projets de la promotion.
            A la suite d'un vote de la promotion, nous avons aussi remporté le prix du public parmis les 3 projets qui était présentés.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Développement d'une application web</li>
            <li>PHP (Symfony)</li>
            <li>Html/Css</li>
            <li>JavaScript</li>
            <li>Mise en place de mesure de sécurité sur un site internet</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Travail dans une grande équipe</li>
            <li>Organisation avec Git</li>
            <li>Gestion de conflits</li>
            <li>Respect du RGPD</li>
        </ul>
    </div>

    <div style="display: flex; justify-content: space-evenly; margin: 50px">
        <img src="./images/OrganizingHistory_home.png" style="width:40%; border-radius: 10px" />
        <img src="./images/OrganizingHistory_game.png" style="width:40%; border-radius: 10px" />
    </div>
</article>

<div class="key3">
    <h2 class="justified-content">Application de recherche de stage</h2>
    <h3>BUT2</h3>
    <h4 class="justified-content">2024</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Dans ce projet, on nous avait fournis une application de recherche de stage que nous devions améliorer.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Analyse du fonctionnement d'une application existante</li>
            <li>Développement d'une application mobile</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Gestion des délais</li>
            <li>Prioritisation des tâches</li>
        </ul>
    </div>

    <div style="display: flex; justify-content: space-evenly; margin: 50px">
        <img src="./images/OrganizingHistory_home.png" style="width:40%; border-radius: 10px" />
        <img src="./images/OrganizingHistory_game.png" style="width:40%; border-radius: 10px" />
    </div>
</article>



@code {

}
