@page "/projects"

<PageTitle>Mes projets</PageTitle>

<h1 class="justified-content">Mes projets</h1>

<!--Semestre 1-->

<!--Semestre 2-->
<div class="key3">
    <h2 class="justified-content">Installation de services réseaux</h2>
    <h3>BUT1</h3>
    <h4 class="justified-content">2023</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Le but final de ce projet était de rédiger en anglais un guide d'installation d'un serveur Debian 11 équipé d'Apache, de PostgreSQL et de PHP.
        </p>
        <p>
            Le projet était individuel.<br />
            En premier, nous devions réaliser les manipulations nous-mêmes.
            Puis, dans un second temps, nous devions rédiger le guide d'installation.
        </p>
        <p>
            Nous avions à notre disposition un guide étape par étape,
            mais nous devions aussi chercher nous-mêmes des informations dans la documentation officielle.
        </p>
        <p>
            Nous avons commencé par installer Debian 11 sur une machine virtuelle.
            Nous devions aussi analyser les paramètres du lancement de la machine virtuelle pour les expliquer dans le guide final.<br />

            Après cela, nous avons installé le serveur Apache en suivant les informations sur la page de documentation.
            Pour vérifier que tout fonctionnait, nous avons appris à utiliser Telnet qui permet de faire des requêtes HTML simples, sans interface graphique.<br />

            Nous avons aussi installé PostgreSQL qui sert à gérer les bases de données
            et PHP pour utiliser PHPAdmin afin de travailler sur cette base de données dans notre navigateur, sur la machine hôte.
        </p>
        </div>

        <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Installation d'Apache sur Debian.</li>
            <li>Paramétrage d'Apache.</li>
            <li>Utilisation de Telnet.</li>
            <li>Installation de PostgreSQL.</li>
            <li>Utilisation d'une base de données à distance.</li>
            <li>Installation de PHP et de PHPAdmin.</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Recherche d'informations dans une documentation technique.</li>
            <li>Rédaction d'un guide informatique en anglais.</li>
        </ul>
        </div>
</article>

<div class="key3">
    <h2 class="justified-content">Développement d'un logiciel d'organisation de mariage</h2>
    <h3>BUT1</h3>
    <h4 class="justified-content">2023</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Ce projet était de loin le plus gros de ma première année de BUT.<br />
            L'objectif était de concevoir, réaliser puis présenter un logiciel d'organisation d'événements.<br />
            Dans mon groupe, nous avons décidé de nous spécialiser dans l'organisation de fêtes de mariage dans un logiciel adapté aux professionnels.
        </p>
        <p>
            Nous étions par groupe de 5, le projet s'est déroulé sur 10 semaines dont 1 semaine bloquée pour la réalisation.
        </p>
        <p>
            Nous avons fait beaucoup de choses en parallèle sur ce projet.
            Au départ, nous avions une analyse de graphes de gestion de projet
            et nous avions à trouver une fonction en rapport avec notre sujet à optimiser mathématiquement.<br />

            Mais très vite, nous avons commencé la conception en elle-même qui a été l'une des étapes les plus compliquées.
            Nous avons réalisé plusieurs diagrammes de classes en UML ainsi que des diagrammes d'objets et des diagrammes de séquences.
            Nous en avons également réalisé pour modéliser des logigrammes détaillant l'utilisation du logiciel.
            La dernière étape de la conception était de faire une maquette du site, trouver les points les plus importants pour l'ergonomie du logiciel
            et trouver des personas représentant des utilisateurs types.<br />

            Ensuite, nous avons réalisé le logiciel en Java en utilisant la bibliothèque JavaFX pour créer les interfaces.
            Nous avons utilisé le modèle MVC (Modèle Vue Contrôleur) pour faire le lien entre l'interface et le cœur du logiciel.<br />

            Enfin, nous avons fait une présentation de notre produit pour en faire la promotion en français et en anglais.
            Et nous avons fini par une démonstration de notre projet.
        </p>
        </div>

        <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Création de diagrammes de classes/objets/séquences en UML.</li>
            <li>Création de logigrammes.</li>
            <li>Optimisation de fonctions mathématiques.</li>
            <li>Conception d'une interface.</li>
            <li>Développement d'interface logicielle en JavaFX.</li>
            <li>Développement de logiciel Java en utilisant un modèle MVC.</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Organisation et travail en équipe.</li>
            <li>Prise de décision en équipe.</li>
            <li>Analyse d'un besoin utilisateur.</li>
            <li>Présentation promotionnelle d'un produit.</li>
        </ul>
        </div>
</article>

<!--Semestre 3-->
<div class="key3">
    <h2 class="justified-content">GameJam</h2>
    <h3>BUT2</h3>
    <h4 class="justified-content">2023</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Le but du projet était d'apprendre Python en créant un jeu vidéo sur un thème imposé à l'aide de la bibliothèque PyGame.
        </p>
        <p>
            Le projet était en équipe de 4.<br />
            Nous avions une semaine bloquée pour apprendre à utiliser PyGame et développer notre jeu.<br />
            Le dernier jour, nous devions présenter notre jeu devant un jury.
        </p>
        <p>
            Les deux premiers jours, nous commencions par un cours magistral nous expliquant PyGame,
            mais nous avons surtout appris grâce à la documentation officielle.
        </p>
        <p>
            Le thème était "Le monde merveilleux de l’IUT2", nous devions aussi des mécaniques nécessitant de "Garder le rythme"
            et notre jeu devait être "Paramétrable avec des arguments".<br />

            Nous avons décidé de faire un jeu qui soit fun avant tout, c'est pourquoi nous nous sommes surtout concentrés sur l'aspect "Garder le rythme".
            Notre jeu mettait le joueur dans la peau d'un étudiant en BUT informatique qui doit garder le rythme entre ses TPs,
            son sommeil et sa vie sociale.<br />

            Le jeu était découpé en 3 mini-jeux. Un ordinateur pour les TPs, un lit pour le sommeil et un groupe d'amis souriants pour la vie sociale.
            Le joueur pouvait passer rapidement d'un mini-jeu à l'autre en se déplaçant dans l'écran.<br />

            Nous avons utilisé un style pixel art pour les graphismes, rendant les animations plus simples.
            Pour les animations, nous avons créé notre propre classe pour gérer des sprite sheets.
            Nous avons aussi passé beaucoup de temps à affiner le système de collision pour éviter que le joueur reste coincé.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Python</li>
            <li>Bibliothèque PyGame</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Conception de jeu</li>
            <li>Travail d'équipe</li>
            <li>Gestion des délais</li>
        </ul>
    </div>
</article>

<div class="key3">
    <h2 class="justified-content">Organizing history</h2>
    <h3>BUT2</h3>
    <h4 class="justified-content">2023-2024</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            L'ambition de ce projet était de créer un site ludo-éducatif, destiné à apprendre l'histoire à des élèves de 3ème.<br />
        </p>
        <p>
            Le projet était en équipe de 8, pour une durée de 3 mois.<br />
            Les premiers mois étaient surtout consacrés à la conception.<br />
            À la fin du projet, nous avions 3 semaines bloquées pour réaliser le site.
        </p>
        <p>
            Nous avons choisi d'utiliser le framework Symfony pour la partie backend et du JavaScript pour le frontend.<br />
            L'application devait avoir un système de compte pour les professeurs et les élèves.
            Le site devait être sécurisé et correspondre aux normes imposées par le RGPD.
        </p>
        <p>
            Dans mon équipe, j'ai proposé le concept du jeu, j'ai supervisé l'aspect technique
            et j'ai aidé à répartir les tâches pendant la réalisation.<br />
            J'ai pu apprendre les contraintes associées à des équipes de cette taille, notamment en termes de répartition de tâches.
        </p>
        <p>
            Notre projet a remporté le 3ème prix du meilleur prototype parmi tous les projets de la promotion.
            À la suite d'un vote de la promotion, nous avons aussi remporté le prix du public parmi les 3 projets qui étaient présentés.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Développement d'une application web</li>
            <li>PHP (Symfony)</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Mise en place de mesures de sécurité sur un site internet</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Travail dans une grande équipe</li>
            <li>Organisation avec Git</li>
            <li>Gestion de conflits</li>
            <li>Respect du RGPD</li>
        </ul>
    </div>

    <div style="display: flex; justify-content: space-evenly; margin: 50px">
        <img src="./images/OrganizingHistory_home.png" style="width:40%; border-radius: 10px" />
        <img src="./images/OrganizingHistory_game.png" style="width:40%; border-radius: 10px" />
    </div>
</article>

<div class="key3">
    <h2 class="justified-content">Application de recherche de stage</h2>
    <h3>BUT2</h3>
    <h4 class="justified-content">2024</h4>
</div>
<article class="justified-content">
    <div>
        <p>
            Dans ce projet, on nous avait fourni une application de recherche de stage que nous devions analyser pour améliorer son ergonomie, ses performances et sa qualité logicielle.
        </p>
        <p>
            L'application était divisée en une partie mobile dédiée aux étudiants et une partie web servant à la fois aux élèves et à un administrateur.
            L'administrateur peut ajouter des offres de stages et gérer leur visibilité.
            Les étudiants peuvent indiquer s'ils ont postulé à une offre, s'ils sont en attente d'un entretien ou s'ils ont été acceptés.
        </p>
        <p>
            La partie mobile était développée avec Android Studio en Java et la partie serveur et web avec Symfony en PHP.<br />
            Nous avions à notre disposition un conteneur pour le serveur et la base de données.
        </p>
        <p>
            Le projet s'est déroulé sur 7 semaines. Nous étions par groupe de 5.
            Les premières semaines nous ont permis de comprendre le code de l'application et de faire une analyse des besoins.<br />
            Nous avons surtout remarqué les problèmes d'ergonomie et le manque de cohérence entre la version web et la version mobile de l'application.<br />
            Nous avons ensuite passé plusieurs semaines à concevoir les nouvelles interfaces et les fonctionnalités que nous voulions ajouter.<br />
            À la fin du projet, nous avions une semaine bloquée, dédiée à la réalisation.
        </p>
        <p>
            Ce projet ne s'est pas passé exactement comme prévu, ce qui en a fait une expérience très enrichissante.<br />
            Avant le début de la réalisation, notre 5ème membre a quitté le projet pour des raisons personnelles.
            Nous n'avons aussi pas passé suffisamment de temps à analyser la qualité logicielle, certains aspects du fonctionnement de l'application et certaines erreurs n'ont pas été remarqués à cause de ça.
            Lors de la réalisation, nous avons eu beaucoup de mal à faire fonctionner le conteneur.
            Ce délai nous a empêché de finir toutes les fonctionnalités que nous avions prévues.<br />
            Pendant le dernier jour, nous avons pu corriger certaines de ces erreurs en nous concentrant uniquement sur les plus importantes.
        </p>
        <p>
            Malgré ces problèmes, nous avons réussi à présenter un produit fonctionnel et à expliquer nos choix de conception lors d'une présentation orale.
            Nous avons pu unifier l'ergonomie des deux versions de l'application en ajoutant une barre de navigation à l'application mobile permettant de refléter celle de l'application web.
            Beaucoup de mauvaises pratiques ont pu être corrigées dans la partie Symfony de l'application
            et nous avons proposé un meilleur modèle de données conforme à la 3ème forme normale.
        </p>
        <p>
            Dans le cadre de ce projet, nous avons aussi proposé un algorithme écrit en R visant à répartir les étudiants avec les offres de stage selon leurs préférences.
        </p>
    </div>

    <div>
        <h5>Compétences techniques</h5>
        <ul>
            <li>Analyse du fonctionnement d'une application existante</li>
            <li>Amélioration d'une application existante</li>
            <li>Développement d'une application mobile</li>
            <li>Développement en Symfony</li>
            <li>Utilisation d'un conteneur</li>
            <li>Conception d'un modèle de données en 3ème forme normale</li>
            <li>Développement d'un algorithme d'optimisation en R</li>
        </ul>

        <h5>Compétences générales</h5>
        <ul>
            <li>Gestion des délais</li>
            <li>Priorisation des tâches</li>
        </ul>
    </div>
</article>



@code {

}
